<!DOCTYPE html>
<html lang="en">
<head>
    <title>PES Interconnect</title>
</head>
<body>
    <h2>
        Add your club to the PES Interconnect database
    </h2>
    <form action='/insert' method="POST">
        <label id="label" for="name">Name: </label>
        <input type="text" name="name"><br/>
        </br>
        <label id="label" for="c_id">Club ID: </label>
        <input type="number" name="c_id">
        </br>
        <button type="submit" class='button'>Insert row!</button>
    </form>
</body>
</html>